*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
   scroll-behavior: smooth;
}

body{
    background-color: #16425B;
    text-decoration: none;
    color: #D9DCD6;
    border-radius: 25px;
    
}


.bodyfont{
    font-family: Arial, Helvetica, sans-serif;
}


/* Navbar CSS */

.navbar {
    overflow: hidden;
    background-color: #3A7CA5;
    border-radius: 5px;
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin: 0 calc(2px + (10 - 2) * ((100vw - 300px) / (1600 - 300)));
}

.navbar a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #D9DCD6;
    padding: 7px;
    margin:auto;
    margin-right: 15px;
    text-align: center;
    float: right;
    
}
.navbar a:hover{
    background-color: #16425B ;   
}

.navbar a:active{
    color: #16425B ;
}

.navbar li{
    display: inline;
    
}
.fixednavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    border-radius: 7px;
    width: 100%;
    /* background-color:#2F6690 ; */
    /* top: 0;
    position: sticky; */
}


/* Home CSS */

.heading{
    height: 100%;
    overflow: hidden;
    text-align: left;

}

.subheading{
    width: 70%;
    margin: 150px auto;
    letter-spacing: 0.25rem;
}

.innerHeading{
    Font-Family: 'PT Sans', Sans-Serif;
    font-size: calc(31px + (100 - 31) * ((100vw - 300px) / (1600 - 300)));
}

.innerSubheading{
    Font-Family: 'Playfair Display', Serif;
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
}


/* Projects CSS */
.phead{
    Font-Family: 'PT Sans', Sans-Serif !important;
    Font-Size: 50px !important;
}



/* About me CSS */
.myPhoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    border-radius: 7px;
}

.bodyfont ul li{
    font-size: calc(17px + (23 - 17) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 30px;
    
}

.habout{
    Font-Family: 'PT Sans', Sans-Serif !important;
    Font-Size: 50px !important;
    margin-bottom: 50px;
    padding-top: 50px;
}

.shabout{
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
}

/* Contact CSS*/

.footer{
    text-align: center;
    padding: 7px;
    margin:auto;
    background-color:#2F6690 ;
    word-spacing: 20px;
    border-radius: 7px;
}

.footermessage{
    text-align: center;
    height: 100%;
    padding-top: 100px;
    width: 70%;
    margin:auto;
    Font-Family: 'Roboto', Sans-Serif !important;
    font-size: calc(22px + (40 - 22) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 200px;
}

.footer a{
   color: #16425B;
}

.footer{
    width: 70%;
    margin: auto;
}

.icon:hover{
    transform: scale(1.5);
}

.gmail-icon:hover
{
    color: #f02a18;
    
}

.instagram-icon:hover
{
    color: #C13584;
}

.linkedin-icon:hover
{
    color: #0e76a8;
}

.twitter-icon:hover
{
    color: #24b0f1;
}

.github-icon:hover
{
    color: #000000;
}



/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #81C3D7;
    border-radius: 7px;
    
  }
  ::-webkit-scrollbar-thumb {
    background: #3A7CA5;
    border-radius: 7px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #2F6690;
  }
  






/* Card Flip CSS */

  .flip-card {
    background-color: transparent;
    width: 33%;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    display: inline-block;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }